doctype html
html(ng-app="teamCityMonitor")
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bootstrap/js/bootstrap.js')
    script(src='/javascripts/angular.min.js')
    script(src='/javascripts/main.js')
  body
    block content