doctype html
html
  head
    title Build Monitor
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://fb.me/react-0.13.3.js")
    script(src='/javascripts/Build/watcher.js')
    script(src='/javascripts/init.js')
  body
    block content