doctype html
html(ng-app="teamCityMonitor")
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap-theme.css')
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content

script(src='/bootstrap/js/bootstrap.js')
script(src='/javascripts/react.js')
script(src='/javascripts/angular.min.js')
script(src='/javascripts/main.js')
script(src='/javascripts/build/build.js')
script(src='/javascripts/build/pipeline.js')
script(src='/javascripts/build/buildmonitor.js')
script(src='/javascripts/build/changes.js')
