body {
  padding: 10px;
  margin: 0px;
  color: white;
  background-color: #333;
  /*overflow: hidden; */
}

.project {
	padding: 15px;
	padding-left: 130px;
	margin: 20px 20px 0px 0px;
}

.load {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-style: italic;
    color: white;
    display: none;
    padding: 5px;
}

.loadInProgress {
    display: block !important;
}

.Pipeline {
    padding-left: 10px;
    padding-right: 10px;
}

.BuildInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.change {
    overflow: hidden;
    height: 70px;
}

.change img {
    margin: 5px;
    float: right;
}
.change .info {
    margin: 10px;
    background-color: #808080;
    background-repeat: no-repeat;    
}

.BuildResult {
    overflow: hidden;
    height: 170px;
    position: relative;
}

.BuildResult .info {
    margin: 10px;   
}

.BuildResult .row {
    height: 100%;
}

.RUNNING {
    background-color: #ff9400;
    background-repeat: no-repeat;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.username {
    text-transform:capitalize;
}

.RUNNING .icon {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.icon {
    right: 0px;
    height: 40px; 
	width: 40px;
    background-size: 40px 40px; 
    background-position: top right;
}

.Percentage {
	display: none;
}

.RUNNING .Percentage {
	display: block;
}

.RUNNING .icon {
    background-image: url(/images/refresh.png);
    background-repeat: no-repeat;
}

.SUCCESS {
    background-color: #4CD500;
    background-repeat: no-repeat;
}

.SUCCESS .icon {
    background-image: url(/images/tick.png);
    background-repeat: no-repeat;
}

.WARNING {
    background-color: #ff5500;
    background-repeat: no-repeat;
}

.WARNING .icon {
    background-image: url(/images/warning.png);
}

.avatar {
}
.UNKNOWN {
    background-color: #808080;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.FAILURE {
    background-color: red;
    background-repeat: no-repeat;
}

.FAILURE .icon {
    background-image: url(/images/cross.png);
}

.Percentage {
    font-size: 1.4em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;   
}

.showTime {
    visibility: hidden;
}