body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #444444;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

.pipeline {
    display:table;
    width:100%;
    table-layout:fixed;
    margin: 10px;
}

.build {
	padding: 10px;
	display:table-cell;
	border-spacing: 10px;
	color: #FFFFFF;
}

.SUCCESS {
	background-color: green;	
}

.FAILURE {
	background-color: red;	
}


a {
  color: #00B7FF;
}