body {
  padding: 50px;
  padding-top: 10px;
  color: white;
  background-color: #333;
  overflow: hidden;
}

.project {
	padding: 15px;
	padding-left: 130px;
	margin: 20px 20px 0px 0px;
}

.load {
    position: fixed;
    bottom: 0px;
    right: 0px;
    font-style: italic;
    color: white;
    display: none;
    padding: 5px;
}

.loadInProgress {
    display: block !important;
}

.BuildInfo {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.BuildResult {
    overflow: hidden;
    height: 170px;
    position: relative;
}

.BuildResult .row {
    margin: 2px;
    height: 100%;
}

.RUNNING {
    background-color: #ff9400;
    background-repeat: no-repeat;
}

@keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.username {
    text-transform:capitalize;
}

.Shame {
    position: fixed;
    display: block;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    z-index: 99;
}

.Shame .ShameBackground {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.75);
    opacity: 50%;
    z-index: 101;
}


.ShameCenter {
    z-index: 199;
    position: fixed;
    display: block;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;    
}

.ShameCenter div {
    display: inline-block;
    background-color: red;
    padding: 20px;
    margin-top: 100px;
}
.avatar
{
    margin: 5px;
}

.avatar span {
    margin-right: 10px;
}

.RUNNING .icon {
    -webkit-animation-name: rotate; 
    -webkit-animation-duration: 1.5s; 
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;

    animation-name: rotate; 
    animation-duration: 1.5s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.icon {
        position: absolute;
    top: -0px;
    right: 0px;
    height: 40px;
    width: 40px;

    height: 40px;
	width: 40px;
    background-size: 40px 40px; 
}

.Percentage {
	display: none;
}

.RUNNING .Percentage {
	display: inline-block;
}

.RUNNING .icon {
    background-image: url(/images/refresh.png);
    background-repeat: no-repeat;
}

.SUCCESS {
    background-color: #4CD500;
    background-repeat: no-repeat;
}

.WARNING .icon {
    background-image: url(/images/tick.png);
}

.WARNING {
    background-color: #ff5500;
    background-repeat: no-repeat;
}

.WARNING .icon {
    background-image: url(/images/warning.png);
}

.UNKNOWN {
    background-color: #808080;
    background-repeat: no-repeat;
    opacity: 0.5;
}

.UNKNOWN .icon {
    background-image: url(/images/Pause.png);
}

.FAILURE {
    background-color: red;
    background-repeat: no-repeat;
}

.FAILURE .icon {
    background-image: url(/images/cross.png);
}

.Percentage {
    font-size: 1.4em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;   
}

#SmokeTest .icon {
    height: 40px;
    width: 40px;
}

#SmokeTest .WARNING,
#SmokeTest .UNKNOWN,
#SmokeTest .SUCCESS {
    background-size: 40px 40px;
}