body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #444444;
}

h1 {
	color: #FFFFFF;
	text-align: center;
}

h2 {
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
    margin-left: 10px;
}

.buildNumber {
	text-align: right;
}

.pipeline {
    display:table;
    width:100%;
    table-layout:fixed;
    margin: 0px;
}

.build-step {
	padding: 10px;
	display:table-cell;
}

.build-result {
	padding: 10px;
	color: #FFFFFF;
	height: 100px;
}

.SUCCESS {
	background-color: green;	
}

.FAILURE {
	background-color: red;	
}


a {
  color: #00B7FF;
}